{erl_opts, [debug_info]}.
{deps, [
  {cowboy, "2.9.0"},
  {jsx, "3.1.0"}
]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [bash_gen]}
]}.

{eunit_opts, [
    {sys_config, ["config/test.config"]}
]}.

{profiles, [
            {test, [
                    {deps, []},
                    {extra_src_dirs, [{"test", [{recursive, true}]}]},
                    {erl_opts, [debug_info]},
                    {eunit_opts, [
                         verbose,
                         {cover_enabled, true},
                         {reset_after_eunit, false}
                    ]}
                   ]}
           ]
}.
