{erl_opts, [
    debug_info,
    {parse_transform, lager_transform},
    {lager_truncation_size, 40960}
]}.

{minimum_otp_vsn, "25.1.2"}.

{deps, [
  {cowboy, "2.9.0"},
  {jsx, "3.1.0"},
  {lager, "3.9.1"}
]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [bash_gen]}
]}.

{eunit_opts, [
    {sys_config, ["config/test.config"]}
]}.

{profiles, [
            {test, [
                    {deps, []},
                    {extra_src_dirs, [{"test", [{recursive, true}]}]},
                    {erl_opts, [debug_info]},
                    {eunit_opts, [
                         verbose,
                         {cover_enabled, true},
                         {reset_after_eunit, false}
                    ]}
                   ]}
           ]
}.
