[
    {bash_gen, [
        {http_port, 4000},
        {req_service, req_service},
        {req_processor, cowboy_req},
        {json_parser, jsx},
        {generate_service, generate_service},
        {sort_service, sort_service},
        {validation_service, validation_service}
    ]},
    {lager, [
        {handlers, [
            {lager_console_backend, [{level, info}]}
        ]}
    ]}
].
